
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  border: 1px solid black;
  width: 200px;
}

.example-container {
  height: 100vh;
}

.outlet { padding: 20px}
