<div class="display-large">Large - 57/64 0.25</div>
<div class="display-medium">Medium - 45/52</div>
<div class="display-small">Small - 36/44</div>
<mat-divider></mat-divider>
<div class="headline-large">Large - 32/40</div>
<div class="heading-medium">Medium - 28/36</div>
<div class="headline-small">Small - 24/32</div>
<mat-divider></mat-divider>
<div class="title-large">Large - 22/28</div>
<div class="title-medium">Medium - 16/24</div>
<div class="title-small">Small - 14/20</div>
<mat-divider></mat-divider>
<div class="body-large">Large - 16/24 0.5</div>
<div class="body-medium">Medium - 14/20 0.25</div>
<div class="body-small">Small - 12/16 0.2</div>
<mat-divider></mat-divider>
<div class="label-large">Large - 14/20 0.1</div>
<div class="label-medium">Medium - 12/16 0.1</div>
<div class="label-small">Small - 10/14 0.1</div>
