@use '@angular/material' as mat;
@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$light-palettes: (
  primary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), // on-primary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-primary-container, on-primary-fixed-variant
    35: rgba(0, 0, 0, 0),
    40: #F1A747, // primary, surface-tint [--gold-primary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // primary-fixed-dim, inverse-primary
    90: rgba(0, 0, 0, 0), // primary-fixed
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0), // primary-container
    100: #64391B // on-primary [--gold-on-primary]
  ),
  secondary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), // on-secondary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(15, 15, 15, 0.32), // on-secondary-container, on-secondary-fixed-variant [--item-disable]
    35: rgba(0, 0, 0, 0),
    40: #FFBE6B, // secondary [--gold-secondary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // secondary-fixed-dim
    90: rgba(15, 15, 15, 0.12), // secondary-container, secondary-fixed [--container-disabled] (select disabled option bg)
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #693D1E // on-secondary [--gold-on-secondary]
  ),
  tertiary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), //on-tertiary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-tertiary-container, on-tertiary-fixed-variant
    35: rgba(0, 0, 0, 0),
    40: #272422, // tertiary [--gold-tertiary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // tertiary-fixed-dim
    90: rgba(0, 0, 0, 0), // tertiary-container, tertiary-fixed
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #FAB762 // on-tertiary [--gold-on-tertiary]
  ),
  neutral: (
    0: rgba(0, 0, 0, 0), // scrim, shadow
    10: #1F1F1F, // on-surface, on-background  [--primary] (text)
    20: rgba(0, 0, 0, 0), // inverse-surface
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-surface-variant
    35: rgba(0, 0, 0, 0),
    40: rgba(0, 0, 0, 0),
    50: rgba(0, 0, 0, 0), // outline
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0),
    90: rgba(0, 0, 0, 0), // surface-container
    95: rgba(0, 0, 0, 0), // inverse-on-surface
    98: rgba(0, 0, 0, 0), // surface, background, surface-bright
    100: rgba(0, 0, 0, 0)
  ),
  neutral-variant: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0),
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: #693D1E, // on-surface-variant (input label + underline) [--gold-on-secondary]
    35: rgba(0, 0, 0, 0),
    40: rgba(0, 0, 0, 0),
    50: #AEAEAE, // [--outline-90] (input-outline outline)
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // outline-variant
    90: #E8E8E8, // surface-variant [--surface-text-fields]  (input filled bg)
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: rgba(0, 0, 0, 0)
  ),
  error: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0),
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-error-container
    35: rgba(0, 0, 0, 0),
    40: #D64E29, // error [--error-primary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0),
    90: rgba(0, 0, 0, 0), // error-container
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #FFE8E1 // on-error [--on-error-primary]
  )
);

$rest: (
  secondary: map.get($light-palettes, secondary),
  neutral: map.get($light-palettes, neutral),
  neutral-variant: map.get($light-palettes, neutral-variant),
  error: map.get($light-palettes, error),
);

$light-primary-palette: map.merge(map.get($light-palettes, primary), $rest);
$light-tertiary-palette: map.merge(map.get($light-palettes, tertiary), $rest);

$dark-palettes: (
  primary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), // on-primary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-primary-container, on-primary-fixed-variant
    35: rgba(0, 0, 0, 0),
    40: #FAB762, // primary, surface-tint [--gold-primary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // primary-fixed-dim, inverse-primary
    90: rgba(0, 0, 0, 0), // primary-fixed
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0), // primary-container
    100: #0F0F0F // on-primary [--gold-on-primary]
  ),
  secondary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), // on-secondary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(249, 249, 249, 0.22), // on-secondary-container, on-secondary-fixed-variant [--item-disable]
    35: rgba(0, 0, 0, 0),
    40: #FFBE6B, // secondary [--gold-secondary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // secondary-fixed-dim
    90: rgba(249, 249, 249, 0.08), // secondary-container, secondary-fixed [--container-disabled] (select disabled option bg)
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #FAB762 // on-secondary [--gold-on-secondary]
  ),
  tertiary: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0), //on-tertiary-fixed
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-tertiary-container, on-tertiary-fixed-variant
    35: rgba(0, 0, 0, 0),
    40: #FFF8F0, // tertiary [--gold-tertiary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // tertiary-fixed-dim
    90: rgba(0, 0, 0, 0), // tertiary-container, tertiary-fixed
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #693D1E // on-tertiary [--gold-on-tertiary]
  ),
  neutral: (
    0: rgba(0, 0, 0, 0), // scrim, shadow
    10: #F6F6F6, // on-surface, on-background  [--primary] (text)
    20: rgba(0, 0, 0, 0), // inverse-surface
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-surface-variant
    35: rgba(0, 0, 0, 0),
    40: rgba(0, 0, 0, 0),
    50: rgba(0, 0, 0, 0), // outline
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0),
    90: rgba(0, 0, 0, 0), // surface-container
    95: rgba(0, 0, 0, 0), // inverse-on-surface
    98: rgba(0, 0, 0, 0), // surface, background, surface-bright
    100: rgba(0, 0, 0, 0)
  ),
  neutral-variant: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0),
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: #FAB762, // on-surface-variant (input label + underline) [--gold-on-secondary]
    35: rgba(0, 0, 0, 0),
    40: rgba(0, 0, 0, 0),
    50: #575757, // [--outline-90] (input-outline outline)
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0), // outline-variant
    90: #1F1F1F, // surface-variant [--surface-text-fields]  (input filled bg)
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: rgba(0, 0, 0, 0)
  ),
  error: (
    0: rgba(0, 0, 0, 0),
    10: rgba(0, 0, 0, 0),
    20: rgba(0, 0, 0, 0),
    25: rgba(0, 0, 0, 0),
    30: rgba(0, 0, 0, 0), // on-error-container
    35: rgba(0, 0, 0, 0),
    40: #FF654A, // error [--error-primary]
    50: rgba(0, 0, 0, 0),
    60: rgba(0, 0, 0, 0),
    70: rgba(0, 0, 0, 0),
    80: rgba(0, 0, 0, 0),
    90: rgba(0, 0, 0, 0), // error-container
    95: rgba(0, 0, 0, 0),
    98: rgba(0, 0, 0, 0),
    99: rgba(0, 0, 0, 0),
    100: #411C14 // on-error [--on-error-primary]
  )
);

$rest-dark: (
  secondary: map.get($dark-palettes, secondary),
  neutral: map.get($dark-palettes, neutral),
  neutral-variant: map.get($dark-palettes, neutral-variant),
  error: map.get($dark-palettes, error),
);

$dark-primary-palette: map.merge(map.get($dark-palettes, primary), $rest-dark);
$dark-tertiary-palette: map.merge(map.get($dark-palettes, tertiary), $rest-dark);

:root {
  /* SPACE VARS START */
  // Spacing scale: name ≠ pixel value. Numbers represent steps in a spacing scale, not pixel values; Example: --space-4 = 8px, --space-8 = 16px
  --space-0: 0px;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-6: 12px;
  --space-8: 16px;
  --space-10: 20px;
  --space-12: 24px;
  --space-16: 32px;
  --space-20: 40px;
  --space-24: 48px;
  --space-28: 56px;

  /* SPACE VARS END */

  /* CORNERS VARS START */

  --corner-none: 0;
  --corner-xs: 4px;
  --corner-s: 8px;
  --corner-m: 12px;
  --corner-l: 16px;
  --corner-xl: 28px;
  --corner-full: 1000px;

  /* CORNERS VARS END  */

  &.light-theme {
    --gold-primary: #F1A747;
    --gold-primary-alt: #F3D6B2;
    --gold-on-primary: #64391B;
    --gold-secondary: #FFBE6B;
    --gold-on-secondary: #693D1E;
    --gold-tertiary: #272422;
    --gold-on-tertiary: #FAB762;

    --state-gold-hover: rgba(255, 163, 45, var(--state-gold-hover-opacity)); // color[--state-gold-color] + opacity[--state-gold-hover-opacity]
    --state-gold-pressed: rgba(255, 163, 45, var(--state-gold-pressed-opacity)); // color[--state-gold-color] + opacity[--state-gold-pressed-opacity]
    --state-gold-drag: rgba(255, 163, 45, var(--state-gold-drag-opacity)); // color[--state-gold-color] + opacity[--state-gold-drag-opacity]

    --state-gold-hover--dim: rgba(105, 61, 30, var(--state-gold-hover--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-hover--dim-opacity]
    --state-gold-pressed--dim: rgba(105, 61, 30, var(--state-gold-pressed--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-pressed--dim-opacity]
    --state-gold-drag--dim: rgba(105, 61, 30, var(--state-gold-drag--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-drag--dim-opacity]

    --error-primary: #D64E29;
    --error-on-primary: #FFE8E1;
    --error-secondary: #FFAD96;
    --error-on-secondary: #AA3A1B;
    --error-tertiary: #FFE7E0;
    --error-on-teriary: #AA3A1B;

    --state-error-hover: rgba(243, 103, 64, var(--state-error-hover-opacity)); // color[--state-error-color] + opacity[--state-error-hover-opacity]
    --state-error-pressed: rgba(243, 103, 64, var(--state-error-pressed-opacity)); // color[--state-error-color] + opacity[--state-error-pressed-opacity]
    --state-error-drag: rgba(243, 103, 64, var(--state-error-drag-opacity)); // color[--state-error-color] + opacity[--state-error-drag-opacity]

    --state-error-hover--dim: rgba(174, 31, 0, var(--state-error-hover--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-hover--dim-opacity]
    --state-error-pressed--dim: rgba(174, 31, 0, var(--state-error-pressed--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-pressed--dim-opacity]
    --state-error-drag--dim: rgba(174, 31, 0, var(--state-error-drag--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-drag--dim-opacity]

    --basic-1: #0F0F0F;
    --basic-2: #F9F9F9;
    --basic-black-only: #0F0F0F;
    --basic-white-only: #F9F9F9;

    --item-disable: rgba(15, 15, 15, 0.32); // #0F0F0F · 32%
    --container-disabled: rgba(15, 15, 15, 0.12); // #0F0F0F · 12%

    --highlight-08: rgba(0, 0, 0, var(--highlight-08-opacity)); // color[--highlight-color]
    --highlight-12: rgba(0, 0, 0, var(--highlight-12-opacity)); // color[--highlight-color]
    --highlight-16: rgba(0, 0, 0, var(--highlight-16-opacity)); // color[--highlight-color]

    --highlight-inv-08: rgba(255, 255, 255, var(--highlight-inv-08-opacity)); // color[--highlight-inv-color]
    --highlight-inv-12: rgba(255, 255, 255, var(--highlight-inv-12-opacity)); // color[--highlight-inv-color]
    --highlight-inv-16: rgba(255, 255, 255, var(--highlight-inv-16-opacity)); // color[--highlight-inv-color]

    --outline-100: #989898;
    --outline-90: #AEAEAE;
    --outline-80: #D9D9D9;
    --outline-70: #EAEAEA;

    --informative: #069CF0;
    --negative: #D13550;
    --notice: #FF6B17;
    --positive: #2AA400;
    --neutral: #444444;

    --surface-level-1: #FFFFFF;
    --surface-level-2: #F2F2F2;
    --surface-level-3: #F9F9F9;
    --surface-text-fields: #E8E8E8;
    --surface-chips: #FBFBFB;
    --surface-overlay: rgba(15, 15, 15, 0.65); // #0F0F0F · 65%

    /* TYPOGRAPHY COLORS START  */
    --primary: #1F1F1F;
    --secondary: #484848;
    --tertiary: #646464;
    --primary-inv: #F6F6F6;
    --secondary-inv: #E2E2E2;
    --tetriary-inv: #969696;
    --links: #B77625;
    /* TYPOGRAPHY COLORS END  */

    --pink: #C11574;
    --dark-blue: #175CD3;
    --indigo: #3538CD;
    --purple: #4A1FB8;
    --pine: #027A48;

    /* Non-existent vars start; These vars do not exist in design system -> due to the fact the material handles it differently in some components and it's need to add opacity over it (color+opacity)  */
    --state-gold-color: #FFA32D;
    --state-gold--dim-color: #693D1E;

    --state-error-color: #F36740;
    --state-error--dim-color: #AE1F00;

    --state-gold-hover-opacity: 0.12;
    --state-gold-pressed-opacity: 0.20;
    --state-gold-drag-opacity: 0.28;

    --state-gold-hover--dim-opacity: 0.08;
    --state-gold-pressed--dim-opacity: 0.12;
    --state-gold-drag--dim-opacity: 0.16;

    --state-error-hover-opacity: 0.12;
    --state-error-pressed-opacity: 0.20;
    --state-error-drag-opacity: 0.28;

    --state-error-hover--dim-opacity: 0.08;
    --state-error-pressed--dim-opacity: 0.12;
    --state-error-drag--dim-opacity: 0.16;

    --highlight-color: #000000;

    --highlight-08-opacity: 0.08;
    --highlight-12-opacity: 0.12;
    --highlight-16-opacity: 0.16;

    --highlight-inv-color: #FFFFFF;

    --highlight-inv-08-opacity: 0.08;
    --highlight-inv-12-opacity: 0.12;
    --highlight-inv-16-opacity: 0.16;

    --informative-bg: rgba(6, 156, 240, 0.12);
    --negative-bg: rgba(209, 53, 80, 0.12);
    --notice-bg: rgba(255, 107, 23, 0.12);
    --positive-bg: rgba(42, 164, 0, 0.12);
    --neutral-bg: rgba(68, 68, 68, 0.12);

    --pink-bg: rgba(193, 21, 116, 0.12);
    --dark-blue-bg: rgba(23, 92, 211, 0.12);
    --indigo-bg: rgba(53, 56, 205, 0.12);
    --purple-bg: rgba(74, 31, 184, 0.12);
    --pine-bg: rgba(2, 122, 72, 0.12);

    /* Non-existent vars end  */
  }

  &.dark-theme {
    --gold-primary: #FAB762;
    --gold-primary-alt: #FFE8CA;
    --gold-on-primary: #0F0F0F;
    --gold-secondary: #5B4B38;
    --gold-on-secondary: #FAB762;
    --gold-tertiary: #FFF8F0;
    --gold-on-tertiary: #693D1E;

    --state-gold-hover: rgba(255, 222, 181, var(--state-gold-hover-opacity)); // color[--state-gold-color] + opacity[--state-gold-hover-opacity]
    --state-gold-pressed: rgba(255, 222, 181, var(--state-gold-pressed-opacity)); // color[--state-gold-color] + opacity[--state-gold-pressed-opacity]
    --state-gold-drag: rgba(255, 222, 181, var(--state-gold-drag-opacity)); // color[--state-gold-color] + opacity[--state-gold-drag-opacity]

    --state-gold-hover--dim: rgba(91, 75, 56, var(--state-gold-hover--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-hover--dim-opacity]
    --state-gold-pressed--dim: rgba(91, 75, 56, var(--state-gold-pressed--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-pressed--dim-opacity]
    --state-gold-drag--dim: rgba(91, 75, 56, var(--state-gold-drag--dim-opacity)); // color[--state-gold--dim-color] + opacity[--state-gold-drag--dim-opacity]

    --error-primary: #FF654A;
    --error-on-primary: #411C14;
    --error-secondary: #FFAD96;
    --error-on-secondary: #FF654A;
    --error-tertiary: #FFC4B9;
    --error-on-teriary: #411C14;

    --state-error-hover: rgba(255, 220, 213, var(--state-error-hover-opacity)); // color[--state-error-color]
    --state-error-pressed: rgba(255, 220, 213, var(--state-error-pressed-opacity)); // color[--state-error-color] + opacity[--state-error-pressed-opacity]
    --state-error-drag: rgba(255, 220, 213, var(--state-error-drag-opacity)); // color[--state-error-color] + opacity[--state-error-drag-opacity]

    --state-error-hover--dim: rgba(103, 28, 12, var(--state-error-hover--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-hover--dim-opacity]
    --state-error-pressed--dim: rgba(103, 28, 12, var(--state-error-pressed--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-pressed--dim-opacity]
    --state-error-drag--dim: rgba(103, 28, 12, var(--state-error-drag--dim-opacity)); // color[--state-error--dim-color] + opacity[--state-error-drag--dim-opacity]

    --basic-1: #F9F9F9;
    --basic-2: #0F0F0F;
    --basic-black-only: #0F0F0F;
    --basic-white-only: #F9F9F9;

    --item-disable: rgba(249, 249, 249 0.22); // #F9F9F9 · 22%
    --container-disabled: rgba(249, 249, 249, 0.08); // #F9F9F9 · 8%

    --highlight-08: rgba(255, 255, 255, var(--highlight-08-opacity)); // color[--highlight-color]
    --highlight-12: rgba(255, 255, 255, var(--highlight-12-opacity)); // color[--highlight-color]
    --highlight-16: rgba(255, 255, 255, var(--highlight-16-opacity)); // color[--highlight-color]

    --highlight-inv-08: rgba(0, 0, 0, var(--highlight-inv-08-opacity)); // color[--highlight-inv-color]
    --highlight-inv-12: rgba(0, 0, 0, var(--highlight-inv-12-opacity)); // color[--highlight-inv-color]
    --highlight-inv-16: rgba(0, 0, 0, var(--highlight-inv-16-opacity)); // color[--highlight-inv-color]

    --outline-100: #747474;
    --outline-90: #575757;
    --outline-80: #383838;
    --outline-70: #282828;

    --informative: #6AC4F6;
    --negative: #FF6782;
    --notice: #F47B37;
    --positive: #89DD6C;
    --neutral: #E2E2E2;

    --surface-level-1: #0F0F0F;
    --surface-level-2: #020202;
    --surface-level-3: #171717;
    --surface-text-fields: #1F1F1F;
    --surface-chips: #171717;
    --surface-overlay: rgba(15, 15, 15, 0.82); // #0F0F0F · 82%

    /* TYPOGRAPHY COLORS START  */
    --primary: #F6F6F6;
    --secondary: #CECECE;
    --tertiary: #979797;
    --primary-inv: #1F1F1F;
    --secondary-inv: #444444;
    --tetriary-inv: #9B9B9B;
    --links: #FBC581;
    /* TYPOGRAPHY COLORS END  */

    --pink: #EE46BC;
    --dark-blue: #2E90FA;
    --indigo: #8098F9;
    --purple: #9B8AFB;
    --pine: #32D583;

    /* Non-existent vars start; These vars do not exist in design system -> due to the fact the material handles it differently in some components and it's need to add opacity over it (color+opacity)  */
    --state-gold-color: #FFDEB5;
    --state-gold--dim-color: #5B4B38;

    --state-error-color: #FFDCD5;
    --state-error--dim-color: #671C0C;

    --state-gold-hover-opacity: 0.12;
    --state-gold-pressed-opacity: 0.20;
    --state-gold-drag-opacity: 0.28;

    --state-gold-hover--dim-opacity: 0.18;
    --state-gold-pressed--dim-opacity: 0.32;
    --state-gold-drag--dim-opacity: 0.48;

    --state-error-hover-opacity: 0.12;
    --state-error-pressed-opacity: 0.20;
    --state-error-drag-opacity: 0.28;

    --state-error-hover--dim-opacity: 0.18;
    --state-error-pressed--dim-opacity: 0.32;
    --state-error-drag--dim-opacity: 0.48;

    --highlight-color: #FFFFFF;

    --highlight-08-opacity: 0.08;
    --highlight-12-opacity: 0.12;
    --highlight-16-opacity: 0.16;

    --highlight-inv-color: #000000;

    --highlight-inv-08-opacity: 0.08;
    --highlight-inv-12-opacity: 0.12;
    --highlight-inv-16-opacity: 0.16;

    --informative-bg: rgba(106, 196, 246, 0.12);
    --negative-bg: rgba(255, 103, 130, 0.12);
    --notice-bg: rgba(244, 123, 55, 0.12);
    --positive-bg: rgba(137, 221, 108, 0.12);
    --neutral-bg: rgba(226, 226, 226, 0.12);

    --pink-bg: rgba(238, 70, 188, 0.12);
    --dark-blue-bg: rgba(46, 144, 250, 0.12);
    --indigo-bg: rgba(128, 152, 249, 0.12);
    --purple-bg: rgba(155, 138, 251, 0.12);
    --pine-bg: rgba(50, 213, 131, 0.12);
    /* Non-existent vars end  */

  }
}

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    font-family: Inter, sans-serif;
  }

  @include mat.theme(
      (
        color: (
          primary: $light-primary-palette,
        ),
        typography: Inter,
      ),
    $overrides: (
      background: var(--surface-level-1),
    )
  );

}

.dark-theme {
  @include mat.theme((
    color:(
      primary: $dark-primary-palette,
    )
  ),
  $overrides: (
    background: var(--surface-level-1),
  ));
}

:root {
  /* BUTTONS START */
  @include mat.button-overrides((
    // flat btn
    filled-state-layer-color: var(--state-gold--dim-color),
    filled-hover-state-layer-opacity: var(--state-gold-hover--dim-opacity),
    filled-focus-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
    filled-pressed-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
    filled-ripple-color: var(--state-gold-pressed--dim),
    // stroked btn
    outlined-label-text-color: var(--gold-on-secondary),
    outlined-outline-color: var(--gold-secondary),
    outlined-state-layer-color: var(--state-gold-color),
    outlined-hover-state-layer-opacity: var(--state-gold-hover-opacity),
    outlined-focus-state-layer-opacity: var(--state-gold-pressed-opacity),
    outlined-pressed-state-layer-opacity: var(--state-gold-pressed-opacity),
    outlined-ripple-color: var(--state-gold-pressed),
    // regular btn
    text-label-text-color: var(--gold-on-secondary),
    text-state-layer-color: var(--state-gold-color),
    text-hover-state-layer-opacity: var(--state-gold-hover-opacity),
    text-focus-state-layer-opacity: var(--state-gold-pressed-opacity),
    text-pressed-state-layer-opacity: var(--state-gold-pressed-opacity),
    text-ripple-color: var(--state-gold-pressed),
    // raised btn
    protected-label-text-color: var(--gold-on-primary),
    protected-container-color: var(--gold-primary-alt),
    protected-state-layer-color: var(--state-gold--dim-color),
    protected-hover-state-layer-opacity: var(--state-gold-hover--dim-opacity),
    protected-focus-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
    protected-pressed-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
    protected-ripple-color: var(--state-gold-pressed--dim),
  ));

  .error-button {
    @include mat.button-overrides((
      // flat btn
      filled-container-color: var(--error-primary),
      filled-label-text-color: var(--error-on-primary),
      filled-state-layer-color: var(--state-error--dim-color),
      filled-hover-state-layer-opacity: var(--state-error-hover--dim-opacity),
      filled-focus-state-layer-opacity: var(--state-error-pressed--dim-opacity),
      filled-pressed-state-layer-opacity: var(--state-error-pressed--dim-opacity),
      filled-ripple-color: var(--state-error-pressed--dim),
      // stroked btn
      outlined-label-text-color: var(--error-primary),
      outlined-outline-color: var(--error-secondary),
      outlined-state-layer-color: var(--state-error-color),
      outlined-hover-state-layer-opacity: var(--state-error-hover-opacity),
      outlined-focus-state-layer-opacity: var(--state-error-pressed-opacity),
      outlined-pressed-state-layer-opacity: var(--state-error-pressed-opacity),
      outlined-ripple-color: var(--state-error-pressed),
      // regular btn
      text-label-text-color: var(--error-primary),
      text-state-layer-color: var(--state-error-color),
      text-hover-state-layer-opacity: var(--state-error-hover-opacity),
      text-focus-state-layer-opacity: var(--state-error-pressed-opacity),
      text-pressed-state-layer-opacity: var(--state-error-pressed-opacity),
      text-ripple-color: var(--state-error-pressed),
      // raised btn
      protected-label-text-color: var(--error-primary),
      protected-container-color: var(--error-tertiary),
      protected-state-layer-color: var(--state-error--dim-color),
      protected-hover-state-layer-opacity: var(--state-error-hover--dim-opacity),
      protected-focus-state-layer-opacity: var(--state-error-pressed--dim-opacity),
      protected-pressed-state-layer-opacity: var(--state-error-pressed--dim-opacity),
      protected-ripple-color: var(--state-error-pressed--dim),
    ));
  }

  .plain-button {
    @include mat.button-overrides((
      // flat btn
      filled-container-color: var(--basic-1),
      filled-label-text-color: var(--basic-2),
      filled-state-layer-color: var(--highlight-inv-color),
      filled-hover-state-layer-opacity: var(--highlight-inv-08-opacity),
      filled-focus-state-layer-opacity: var(--highlight-inv-12-opacity),
      filled-pressed-state-layer-opacity: var(--highlight-inv-12-opacity),
      filled-ripple-color: var(--highlight-12-inv),
      // stroked btn
      outlined-label-text-color: var(--basic-1),
      outlined-outline-color: var(--outline-90),
      outlined-state-layer-color: var(--highlight-color),
      outlined-hover-state-layer-opacity: var(--highlight-08-opacity),
      outlined-focus-state-layer-opacity: var(--highlight-12-opacity),
      outlined-pressed-state-layer-opacity: var(--highlight-12-opacity),
      outlined-ripple-color: var(--highlight-12),
      // regular btn
      text-label-text-color: var(--basic-1),
      text-state-layer-color: var(--highlight-color),
      text-hover-state-layer-opacity: var(--highlight-08-opacity),
      text-focus-state-layer-opacity: var(--highlight-12-opacity),
      text-pressed-state-layer-opacity: var(--highlight-12-opacity),
      text-ripple-color: var(--highlight-12),
      // raised btn
      protected-label-text-color: var(--basic-1),
      protected-container-color: var(--surface-text-fields),
      protected-state-layer-color: var(--highlight-color),
      protected-hover-state-layer-opacity: var(--highlight-08-opacity),
      protected-focus-state-layer-opacity: var(--highlight-12-opacity),
      protected-pressed-state-layer-opacity: var(--highlight-12-opacity),
      protected-ripple-color: var(--highlight-12),
    ));
  }

  // vulnerable material styles reassignment
  .mat-mdc-fab,
  .mat-mdc-mini-fab {
    background-color: var(--gold-primary-alt) !important;
    color: var(--gold-on-primary) !important;

    &:hover::before {
      background-color: var(--state-gold-hover--dim) !important;
    }

    &:focus::before {
      background-color: var(--state-gold-pressed--dim) !important;
    }

    &[disabled] {
      background-color: var(--container-disabled) !important;
      color: var(--item-disable) !important;
    }
  }

  /* BUTTONS END  */

  /* ICON BUTTON STARTS  */
  @include mat.icon-button-overrides((
    icon-color: var(--gold-on-secondary),
    state-layer-color: var(--state-gold-color),
    hover-state-layer-opacity: var(--state-gold-hover-opacity),
    focus-state-layer-opacity: var(--state-gold-pressed-opacity),
    pressed-state-layer-opacity: var(--state-gold-pressed-opacity),
    ripple-color: var(--state-gold-pressed),
  ));

  .icon-error-button {
    @include mat.icon-button-overrides((
      icon-color: var(--error-on-secondary),
      state-layer-color: var(--state-error-color),
      hover-state-layer-opacity: var(--state-error-hover-opacity),
      focus-state-layer-opacity: var(--state-error-pressed-opacity),
      pressed-state-layer-opacity: var(--state-error-pressed-opacity),
      ripple-color: var(--state-error-pressed),
    ));
  }

  .icon-plain-button {
    @include mat.icon-button-overrides((
      icon-color: var(--basic-1),
      state-layer-color: var(--highlight-color),
      hover-state-layer-opacity: var(--highlight-08-opacity),
      focus-state-layer-opacity: var(--highlight-12-opacity),
      pressed-state-layer-opacity: var(--highlight-12-opacity),
      ripple-color: var(--highlight-12),
    ));
  }

  /* ICON BUTTON ENDS  */

  /* BUTTON TOGGLE STARTS  */
  @include mat.button-toggle-overrides((
    text-color: var(--basic-1),
    selected-state-text-color: var(--basic-black-only),
    selected-state-background-color: var(--gold-primary-alt),
    divider-color: var(--outline-100)
  ));
  /* BUTTON TOGGLE ENDS  */

  /* CHECKBOX STARTS  */
  @include mat.checkbox-overrides((
    selected-pressed-state-layer-color: var(--state-gold-color),
    unselected-icon-color: var(--outline-100),
    unselected-hover-icon-color: var(--outline-100),
    unselected-focus-icon-color: var(--outline-100),
    unselected-pressed-state-layer-color: var(--outline-100),
    disabled-selected-checkmark-color: var(--item-disable),
    disabled-selected-icon-color: var(--container-disabled),
  ));
  /* CHECKBOX ENDS  */

  /* CHIPS STARTS  */
  & {
    // vulnerable material styles reassignment
    --mdc-chip-elevated-container-color: var(--surface-chips);
  }

  @include mat.chips-overrides((
    outline-color: var(--outline-90),
    focus-outline-color: var(--outline-90),
    hover-state-layer-color: var(--state-gold-color),
    hover-state-layer-opacity: var(--state-gold-hover-opacity),
    selected-hover-state-layer-color: var(--state-gold-color),
    selected-hover-state-layer-opacity: var(--state-gold-pressed-opacity),
    focus-state-layer-color: var(--state-gold-color),
    focus-state-layer-opacity: var(--state-gold-pressed-opacity),
    label-text-color: var(--basic-1),
    with-icon-icon-color: var(--basic-1),
    with-trailing-icon-trailing-icon-color: var(--basic-1),
  ));

  .chip-filled {
    & {
      // vulnerable material styles reassignment
      --mdc-chip-elevated-container-color: var(--gold-primary-alt);
    }

    @include mat.chips-overrides((
      outline-color: var(--gold-primary-alt),
      focus-outline-color: var(--outline-90),
      hover-state-layer-color: var(--state-gold--dim-color),
      hover-state-layer-opacity: var(--state-gold-hover--dim-opacity),
      selected-hover-state-layer-color: var(--state-gold--dim-color),
      selected-hover-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
      focus-state-layer-color: var(--state-gold--dim-color),
      focus-state-layer-opacity: var(--state-gold-pressed--dim-opacity),
      label-text-color: var(--basic-black-only),
      with-icon-icon-color: var(--basic-black-only),
      with-trailing-icon-trailing-icon-color: var(--basic-black-only),
    ));
  }

  /* CHIPS ENDS  */

  /* DATEPICKER STARTS  */

  & {
    --datepicker-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }

  @include mat.datepicker-overrides((
    calendar-container-background-color: var(--surface-level-3),
    calendar-container-elevation-shadow: var(--datepicker-shadow), // added here to propagate also into ngx-mat-datepicker
    calendar-date-selected-state-text-color: var(--basic-black-only),
    calendar-date-today-outline-color: var(--gold-primary),
    calendar-date-hover-state-background-color: var(--state-gold-hover),
    calendar-body-label-text-color: var(--basic-1),
    calendar-header-text-color: var(--basic-1),
    calendar-date-text-color: var(--basic-1),
    calendar-date-disabled-state-text-color: var(--item-disable),
    calendar-container-text-color: var(--basic-1),
    calendar-period-button-text-color: var(--basic-1),
    calendar-period-button-icon-color: var(--basic-1),
    calendar-navigation-button-icon-color: var(--basic-1),
    calendar-date-today-selected-state-outline-color: var(--gold-primary),
    calendar-container-shape: var(--corner-l), // added here to propagate also into ngx-mat-datepicker
    calendar-date-outline-color: rgba(0, 0, 0, 0), // added here to propagate also into ngx-mat-datepicker
    calendar-date-selected-state-background-color: var(--gold-primary),
    toggle-icon-color: var(--basic-1),
    calendar-date-today-disabled-state-outline-color: var(--container-disabled),
    calendar-date-selected-disabled-state-background-color: var(--container-disabled),
    calendar-date-focus-state-background-color: var(--state-gold-pressed),
    // TODO - not in design system yet
    calendar-date-in-comparison-range-state-background-color: red !important,
    calendar-date-in-range-state-background-color: green !important,
    calendar-date-in-overlap-range-state-background-color: yellow !important,
    calendar-date-in-overlap-range-selected-state-background-color: blue !important
    //
  ));

  /* DATEPICKER ENDS  */

  /* DATE-TIME-PICKER STARTS https://github.com/h2qutc/angular-material-components/issues/348 is not fixed */
  // some of the vars can't be reassigned using styling tokens  -> that's why it's needed to be done here; mostly needed for ngx-mat-datetime-picker
  // vulnerable material styles reassignment
  .mat-datepicker-content {
    --mdc-icon-button-icon-color: var(--basic-1) !important;
    --mdc-text-button-label-text-color: var(--basic-1) !important;

    polygon {
      fill: var(--basic-1) !important;
    }

    .mat-calendar-body-disabled {
      .mat-calendar-body-cell-content {
        color: var(--item-disable) !important;
      }
    }

    .mat-calendar-body-cell-content {
      color: var(--basic-1) !important;

      &.mat-calendar-body-selected {
        color: var(--basic-black-only) !important;
      }
    }
  }

  .mat-calendar-body-disabled {
    color: var(--item-disable) !important;
  }

  /* DATE-TIME-PICKER ENDS while https://github.com/h2qutc/angular-material-components/issues/348 is not fixed  */

  /* DIALOG STARTS  */
  @include mat.dialog-overrides((
    container-color: var(--surface-level-3),
    subhead-color: var(--primary),
    supporting-text-color: var(--secondary),
  ));

  /* DIALOG ENDS  */

  /* MENU STARTS  */
  @include mat.menu-overrides((
    container-color: var(--surface-level-3),
    item-icon-color: var(--secondary),
    item-label-text-color: var(--secondary),
  ));

  /* MENU ENDS  */

  /* CARD STARTS  */
  @include mat.card-overrides((
    outlined-outline-color: var(--outline-80),
    outlined-container-color: var(--surface-level-1),
    elevated-container-color: var(--surface-level-1),
    subtitle-text-color: (--secondary)
  ));

  /* CARD ENDS  */

  /* TOOLTIP STARTS  */
  @include mat.tooltip-overrides((
    container-color: var(--basic-1),
    supporting-text-color: var(--basic-2),
  ));
  /* TOOLTIP ENDS  */

  /* SELECT STARTS  */
  @include mat.select-overrides((
    panel-background-color:var(--surface-level-3),
    placeholder-text-color: var(--tertiary),
    enabled-arrow-color: var(--basic-1)
  ));

  // vulnerable material styles reassignment
  .mat-mdc-select-panel {
    .mdc-list-item--selected {
      background-color: var(--state-gold-hover) !important;

      .mdc-list-item__primary-text {
        color: var(--primary) !important;
      }


      &.mat-mdc-option-active {
        background-color: var(--state-gold-pressed) !important;
      }
    }

    .mat-mdc-option-pseudo-checkbox {
      border-color: var(--outline-100) !important;
    }

    .mat-pseudo-checkbox-checked {
      border-color: var(--gold-primary) !important;
    }
  }

  /* SELECT ENDS  */

  /* SLIDE TODDLE STARTS  */
  @include mat.slide-toggle-overrides((
    selected-handle-color: var(--surface-level-3),
    selected-icon-color: var(--basic-1),
    selected-hover-state-layer-color: var(--highlight-color),
    selected-hover-handle-color: var(--surface-level-3),
    selected-pressed-handle-color: var(--surface-level-3),
    selected-focus-handle-color: var(--surface-level-3),
    unselected-hover-state-layer-color: var(--highlight-color),
    unselected-handle-color: var(--basic-1),
    unselected-icon-color: var(--surface-level-3),
    unselected-hover-handle-color: var(--basic-1),
    unselected-pressed-handle-color: var(--basic-1),
    unselected-focus-handle-color: var(--basic-1),
  ));
  /* SLIDE TODDLE ENDS  */

  /* RADIO BUTTON STARTS  */
  @include mat.radio-overrides((
    unselected-icon-color: var(--outline-100),
    unselected-hover-icon-color: var(--outline-100),
    unselected-focus-icon-color: var(--outline-100),
  ));
  /* RADIO BUTTON ENDS  */

  /* BOTTOM SHEET STARTS  */

  @include mat.bottom-sheet-overrides((
    container-background-color: var(--surface-level-3),
  ));

  /* BOTTOM SHEET ENDS  */

  /* SNACKBAR STARTS  */
  @include mat.snack-bar-overrides((
    container-color: var(--gold-tertiary),
    supporting-text-color: var(--basic-2),
    button-color: var(--gold-on-tertiary),
  ));
  /* SNACKBAR ENDS  */

  /* SIDENAV STARTS  */
  @include mat.sidenav-overrides((
    container-background-color: var(--surface-level-2),
    container-text-color: var(--basic-1),
  ));
  /* SIDENAV ENDS  */

  /* PAGINATOR STARTS  */
  @include mat.paginator-overrides((
    container-text-color: var(--primary),
    enabled-icon-color: var(--primary),
  ));

  /* PAGINATOR ENDS  */

  /* TABLE STARTS  */

  @include mat.table-overrides((
    row-item-label-text-color: var(--secondary),
    header-headline-color: var(--primary),
  ));

  /* TABLE ENDS  */

  /* TAB STARTS  */
  @include mat.tabs-overrides((
    active-indicator-color: var(--gold-primary),
    divider-color: var(--outline-80),
    inactive-label-text-color: var(--basic-1),
    active-label-text-color: var(--gold-on-secondary),
  ));
  /* TAB ENDS  */


  /* EXPANSION PANEL STARTS  */
  @include mat.expansion-overrides((
    // TODO ask what should be here - no example at all
    container-background-color: var(--surface-level-2),
    container-text-color: var(--primary),
    header-indicator-color: var(--primary)
  ));
  /* EXPANSION PANEL ENDS  */

  /* BADGE STARTS  */
  @include mat.badge-overrides((
    background-color: var(--negative),
    text-color: var(--basic-2),
  ));
  /* BADGE ENDS  */
}


/* TAGS STYLES START; The tags have different color variants (e.g., `.c-tag--blue`, `.c-tag--red`) with to sizes: small bt default, and large when the class `.large` is added.  */

@mixin c-tag-small {
  padding: 4px 8px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@mixin c-tag-large {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

@mixin c-tag-default {
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--corner-full);
  height: 16px;
}

.c-tag {
  &--blue {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--informative);
    background-color: var(--informative-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--red {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--negative);
    background-color: var(--negative-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--orange {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--notice);
    background-color: var(--notice-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--green {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--positive);
    background-color: var(--positive-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--grey {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--neutral);
    background-color: var(--neutral-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--pine {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--pine);
    background-color: var(--pine-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--pink {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--pink);
    background-color: var(--pink-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--dark-blue {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--dark-blue);
    background-color: var(--dark-blue-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--indigo {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--indigo);
    background-color: var(--indigo-bg);

    .large {
      @include c-tag-large;
    }
  }

  &--purple {
    @include c-tag-default;
    @include c-tag-small;
    color: var(--purple);
    background-color: var(--purple-bg);

    .large {
      @include c-tag-large;
    }
  }
}

/* TAGS STYLES END  */


/* TYPOGRAPHY STYLES START  */
.c-display-large {
  color: var(--primary);
  font-size: 57px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.c-display-medium {
  color: var(--primary);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
}

.c-display-small {
  color: var(--primary);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.c-headline-large {
  color: var(--primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.c-heading-medium {
  color: var(--primary);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}

.c-headline-small {
  color: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.c-title-large {
  color: var(--primary);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.c-title-medium {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.c-title-small {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.c-body-large {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.c-body-medium {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.c-body-small {
  color: var(--primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.c-label-large {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.c-label-medium {
  color: var(--primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.c-label-small {
  color: var(--primary);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/* TYPOGRAPHY STYLES END  */


/* ADDITIONAL STYLES  START */

.mat-mdc-snack-bar-container.snackbar--success .mdc-snackbar__surface {
  background-color: var(--positive);
  color: var(--primary-inv) !important;
}

.mat-mdc-snack-bar-container.snackbar--fail .mdc-snackbar__surface {
  background-color: var(--negative);
  color: var(--primary-inv) !important;
}

.mat-mdc-snack-bar-container.snackbar--warn .mdc-snackbar__surface {
  background-color: var(--notice);
  color: var(--primary-inv) !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--primary-inv) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: var(--primary-inv) !important;
}

.int-tool-dialog {
  .int-tool-dialog__title {
    gap: var(--space-8);
    text-align: center;
  }

  .mdc-dialog__title {
    padding: var(--space-8) var(--space-12) var(--space-4) var(--space-8);
  }

  .mdc-dialog__actions {
    padding: var(--space-4) var(--space-12) var(--space-8) var(--space-12);
  }
}

/* ADDITIONAL STYLES  END */
